<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Example Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/1.9.10/dist/htmx.min.js}" defer></script>
</head>
<body>
<h1>Example Page</h1>
<div class="container">
    <form>

        <input id="name"
               class="form-control"
               type="search"
               name="name" value="A">

        <input id="surname"
               class="form-control"
               type="search"
               name="surname" value="B">

        <button
                hx-get="/hello"
                hx-params="name,surname"
                hx-include="[name='name'],[name='surname']"
                hx-target="#result"
                hx-swap="innerHTML"
        >Click me!
        </button>
        <button
                hx-post="/color"
                hx-target="#result-color"
                hx-swap="innerHTML"
        >Change color!
        </button>
    </form>

    <div id="result">
        <p th:text="${message}"></p>
    </div>

    <div id="result-color">
        <p th:text="${message}"/>
    </div>
</div>
</body>
</html>